<div id="editcontainer" class="container">
<h1 id="h1edit">Edit your profile information</h1>

<div class="error_msg">{{wentWrong}}</div>

<form action="edit" method="POST" id="edit">

    <div id="edit_profile">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
     <p><input type="text" name="first_name"  placeholder="First name..." value={{firstname}}></p>
      <p><input type="text" name="last_name" placeholder="Last name..." value={{lastname}}></p>
      <p><input type="email" name="email" placeholder="email address..." value={{email}}></p>
      <p><input type="password"  name="password" placeholder="choose a password..." ></p>
      <p><input type="number"  name="age" placeholder="age..." value={{age}}></p>
      <p><input type="text" name="city" placeholder="city..." value={{city}} ></p>
      <p><input type="url" name="homepage" placeholder="http..." value={{url}}></p>
    </div>

    

    <button id="editNow">Update Your Profile</button>
  </form>

  <h2 id="editquote">"Change, my dear. And, it seems, not a moment too soon"</h2>
</div>
<footer id="editfoot">Photo by Rakicevic Nenad from Pexels</footer>
